@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --colordefondoPrincial: #0a0b0c;
}
/* utilizo flexbox para linear los elementos dentro del header y dentro del div contenedor de h1 y el buscador */

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colordefondoPrincial) ;
    height: 60px;
    border-bottom: solid  #515152a8 1px;

}
.contenedor-h1-buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-h1{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    padding: 0 30px;

}
.linea-divisoria-vertical{
     height: 58px;
    border: solid #515152a8 1px;

}

/* alineo los elemento dentro del form */

.form-busca{
    display: flex;
    flex-direction: row;

}
.btn-buscar{
    background-color: var(--colordefondoPrincial);
    border: none;
    cursor: pointer;
}

.icon-buscar{
    color: #646466;
    font-size: 16px;
    padding-left: 20px;
}

.input-buscar{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color:#555556 ;
    background-color: var(--colordefondoPrincial);
    outline: none;
    border: none;
    padding: 7px 15px 7px 7px;
}

.contenedor-hr-imgperfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagen-perfil-menu{
    width: 40px;
    height: 40px;
    margin: 0px 30px;
    border-radius: 50px;

}

/* Aqui comienza el main */
.main{
    background-color: var(--colordefondoPrincial);
}

.Section1{
    width: 100vw;
}

.contenedor-etiquetas-h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    border-bottom: solid  #515152a8 1px;
}

.h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color:#ffffff;
    margin-top:  0px;
    margin-bottom: 9px;
    padding: 0 10px;
    align-self: flex-end;

}

/* le doy espacio a los lados a la galeria */

.galeriaDeImagenes{

    padding: 20px 80px;

}

/* modifico en contenedor de imagenes y los div que contienen a las img para que la galeria de imagenes se visualice de cierta manera */
.contenedor-imagenes{
    columns: 4 200px;
    column-gap: 20px;
    padding: .5rem;
}

.div-item{
    width: 100%;
    margin-bottom: 20px;
}


img{
    width: 100%;
}
